@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<!-- <h3>@ViewBag.Message</h3> -->

<h5>COMP-8157 (Advanced Database Topics)</h5>
<h5>This application is developed by below students from MAC 2019.</h5>
<h4> Manpreet Singh (105146546) <br> </h4>
<h4> Amarpreet Singh (105118938) <br> </h4>
<h4> Manish Datt (105103055) <br> </h4>
<h4> Sheetal Patel (105142788)<br> </h4>

<h2>References for Images Used</h2>

<ul>
    <li>http://tamilentrepreneur.com/wp-content/uploads/2016/11/Customer-Satisfaction.png</li>
    <li>https://i.pinimg.com/originals/54/bc/a7/54bca79e04d3110a6e8b02931cba7608.jpg</li>
    <li>https://tce-live2.s3.amazonaws.com/media/media/c1513b07-b36d-4c5c-8ff0-1b063bb48745.jpg</li>
    <li>http://clipart-library.com/images/8ixn5bx4T.png</li>
    <li>http://chittagongit.com/download/133864</li>
    <li>http://static1.squarespace.com/static/554d713de4b026a2b089edaf/554f483de4b089d79aff6602/5a1daf360d92971bbc633bce/1532440000474/Order.jpg?format=1500w</li>
    <li>https://png.pngtree.com/element_origin_min_pic/16/12/02/12b8a26e57d7ce2998d6324c805beaff.jpg</li>
    <li>https://us.123rf.com/450wm/min6939/min69391411/min6939141100071/33654340-stock-vector-customer-service.jpg?ver=6 </li>
    <li>http://www.rippleslearning.com/wp-content/uploads/2018/01/Learning-new-skills.png </li>
    <li>https://ak3.picdn.net/shutterstock/videos/13108163/thumb/2.jpg </li>
    <li>https://ak3.picdn.net/shutterstock/videos/13108163/thumb/2.jpg </li>
    <li>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtB510WzZkTf8-aAvj7OFADJtwoNM_kew9my18xM7RHT7Qm4869A </li>
    <li>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuxd15GxhPgT1k7n6zl8wxDgXNJ6FBqxZOdcVKPQtFu2X_PL51mw </li>
    <li>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROJJA14WmEys_UaYIlmdhI8Ak2c-mgKZ5fZHWF3aLk258ACfCn </li>
    <li>https://assets-global.website-files.com/5b4cba745747fc721ba46069/5b56251efe534b09dcec5c72_saas-questions.png </li>
    <li>http://goldparkhomes.com/wp-content/uploads/2017/02/Pine-Valley-logo-Final-HR-CMYK-1@2x.jpg</li>
</ul>