@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Contact Details</h3>

<ul>
    <li> Manpreet Singh      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    (singh1nc@uwindsor.ca)</li>
   
    <li> Amarpreet Singh     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    (singh1jy@uwindsor.ca)</li>
    
    <li> Manish Datt         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    (dattm@uwindsor.ca)</li>
    
    <li> Sheetal Patel       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    (patel22n@uwindsor.ca)</li>
</ul>

