<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <br><br><br><br>
            <hgroup>
                <h1>Error.</h1>
                <h2>An error occurred while processing your request.</h2>
                <h4>Please note that below operations are not allowed.</h4>
                <ul>
                    <li style="color:red">Deletion of record having dependencies in other tables.</li>
                    <li style="color:red">Insertion of data record with existing primary key value.</li>
                </ul>
                <h4>Try again with correct operation.</h4>
            </hgroup>
</body>
</html>
